/* Custom properties */
*,*::before,*::after { box-sizing: inherit; }

:root {
    --ff-quotes: 'Varela Round', serif;
    --ff-text: 'Bree Serif', serif;

    --fw-reg: 200;
    --fw-bold: 400;

}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* background: #ffe512c4; */
    background-image: url('imgs/960-1349x650-blur_1-grayscale.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: var(--ff-text);
    min-height: 100vh;
    color: #fff;
}

a {
    transition: 150ms;
    color: #fff;
}

a:hover {
    color: rgba(179, 176, 176, 0.91);
}

/* Navigation styling */
.quoternav {
    margin: 0 auto;
    background: transparent;
    font-size: 20px;
    height: 100px;
}

.quoternav__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 1.5em;
    width: 15%;
    float: right;
    border-bottom: 2px solid #a6a0a0eb;
}

.quoternav__list__item {
    padding: 20px;
}

.list-item__link {
    text-decoration: none;
}

/* Quote generator styling */
.quote_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #20202073;
}

.quote__wrapper__title, .quote__wrapper_display, .quote__wrapper__btn {
    margin: 0 auto;
}

.quote__wrapper__title {
    padding-bottom: 1.1em;
    font-size: 25px;
}

.quote__wrapper__display {
    padding-top: 1em;
    font-size: 25px;
    font-family: var(--ff-quotes);
    text-align: center;
    margin: auto;
    max-width: 990px;
    height: 200px;
}

.quote__wrapper__btn {
    /* background: #ffb300a8; */
    background: #9869dd;
    border-radius: 250px;
    font-size: 22px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.938);
    border: none;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: 450ms;
    letter-spacing: 1.2px;
}

.secondary__btns {
    margin: 0 auto;
    padding: 2.5em;
}

.secondary-quote-btns {
    background: #ffffff;
    border-radius: 250px;
    font-size: 18px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.938);
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: 450ms;
    letter-spacing: 1.2px;
    margin: .5em;
    border: none;
}

.secondary-quote-btns:hover {
    background: #9869dd;

}

.quote__wrapper__btn:hover{
    box-shadow: 2px 2px 10px 2px rgba(3, 3, 3, 0.918);
    background: #fff;
    border-radius: 0px;
    transform: scale(1.1);
}

/* Footer styling */
.footer {
    margin: 0 auto;
    margin-top: 4em;
    border-top: 2px solid #a6a0a0eb;
    width: 70%;
}

.footer__content__wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer__list {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.footer__list__item {
    margin: 1em;
}

.footer__list__link {
    text-decoration: none;
}

.list__item__text {
    display: inline list-item;
    padding-right: 2.5em;
}

.footer__wrap__span {
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

/* Info page styling */

/* Info container styling */
.info__container {
    width: 100%;
}

.info__container__head {
    margin: 0 auto;
    background: #282626eb;
    width: 50%;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 25px 1px black;
}

.info__container__head-title {
    margin: 0 auto;
    height: 100px;
    line-height: 60px;
}

#head-title {
    text-align: center;
    font-size: 50px;
    letter-spacing: .25px;
}

/* Information container styling */
.info__container__information {
    width: 50%;
    margin: 0 auto;
    margin-top: 2.5em;
    background: #282626eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 25px 1px black;
}

#info-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: .5px;
}

.info__container__information-details {
    width: 80%;
}

.details-text {
    font-size: 19px;
    line-height: 28px;
}

/* Info list styling */
.info-list {
    font-size: 25px;
    list-style: none;
}

.info-list__item {
    margin: 12px 0px 12px 0px;
}

.info-list__item_link {
    text-decoration: none;
}

/* Quotes page styling */

/* Quotes container */
.quote__container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background: #282626eb;
}

.quote__container__lifeQuotes {
    margin-left: 1em;
}

.quote__container__movieQuotes {
    margin-right: 1em;
}

.quote__container__lifeQuotes, .quote__container__gamingQuotes, .quote__container__movieQuotes {
    width: 33.33%;
}

.lifeQuotes__title, .gamingQuotes__title, .movieQuotes__title {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    border-bottom: 2px solid;
}

.lifeQuotes__list, .gamingQuotes__list, .movieQuotes__list {
    list-style: none;
}

.lifeQuotes__list__item, .gamingQuotes__list__item, .movieQuotes__list__item {
    margin-bottom: 10px;
}
